<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.CommodityInfoMapper">

    <!-- 分页查询商品信息 -->
    <select id="getCommodityByPage" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.code,
        ci.name,
        ci.type,
        ci.price,
        ci.images,
        ci.content,
        ci.create_date AS createDate,
        ci.shop_id AS shopId,
        ci.on_put AS onPut,
        si.introduction,
        si.tag,
        ui.user_name AS userName,
        ui.avatar
        FROM
        commodity_info ci
        LEFT JOIN shop_info si ON ( ci.shop_id = si.id )
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        WHERE
        1 = 1
        <if test="commodityInfo.userName != null and commodityInfo.userName != ''">
            AND ui.user_name LIKE CONCAT('%',#{commodityInfo.userName},'%')
        </if>
        <if test="commodityInfo.type != null and commodityInfo.type != ''">
            AND ci.type LIKE CONCAT('%',#{commodityInfo.type},'%')
        </if>
        <if test="commodityInfo.name != null and commodityInfo.name != ''">
            AND ci.name LIKE CONCAT('%',#{commodityInfo.name},'%')
        </if>
        <if test="commodityInfo.onPut != null and commodityInfo.onPut != ''">
            AND ci.on_put = #{commodityInfo.onPut}
        </if>
        ORDER BY
        ci.create_date DESC
    </select>

    <!-- 小程序热销产品 -->
    <select id="getCommodityHot" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.`name`,
        ci.images,
        ui.user_name AS userName,
        ui.avatar,
        COUNT(oi.commodity_id) AS orderNum
        FROM
        commodity_info ci
        LEFT JOIN shop_info si ON si.id = ci.shop_id
        LEFT JOIN user_info ui ON ( si.user_id = ui.id )
        LEFT JOIN order_info oi ON (oi.commodity_id = ci.id)
        WHERE
        1 = 1
        GROUP BY ci.id
        ORDER BY COUNT(oi.commodity_id) DESC
        limit 4
    </select>

    <!-- 商品详情 -->
    <select id="goodsDetail" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.`name`,
        ci.images,
        ci.content,
        ci.price,
        ci.create_date AS createDate,
        ci.on_put AS onPut,
        ci.type,
        ui.id AS userId,
        ui.user_name AS userName,
        ui.avatar,
        si.id AS shopId,
        COUNT( oi.commodity_id ) AS orderNum
        FROM
        commodity_info ci
        LEFT JOIN shop_info si ON ( si.id = ci.shop_id )
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        LEFT JOIN order_info oi ON ( oi.commodity_id = ci.id )
        WHERE
        ci.id = #{ commodityId }
    </select>

    <!-- 获取全部商家信息 -->
    <select id="selShopList" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.`code`,
        si.introduction,
        si.tag,
        ui.user_name AS userName,
        ui.avatar
        FROM
        shop_info si
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        WHERE
        1 = 1
    </select>

    <!-- 获取商铺及商品详细信息 -->
    <select id="shopInfoDetail" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.`name`,
        ci.images,
        ci.content,
        ci.price,
        ci.create_date AS createDate,
        ci.on_put AS onPut,
        ci.type,
        COUNT( oi.commodity_id ) AS orderNum
        FROM
        commodity_info ci
        LEFT JOIN shop_info si ON ( si.id = ci.shop_id )
        LEFT JOIN order_info oi ON ( oi.commodity_id = ci.id )
        WHERE
        ci.shop_id = #{ shopId }
        GROUP BY
	    ci.id
    </select>

    <!-- 商户信息 -->
    <select id="shopInfoById" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.`code` AS shopCode,
        si.introduction,
        si.tag,
        ai.status_date AS statusDate,
        ui.user_name AS userName,
        ui.avatar
        FROM
        shop_info si
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        LEFT JOIN audit_info ai ON ( ai.user_id = ui.id )
        WHERE
        1 = 1
        AND si.id = #{ shopId }
    </select>

    <!-- 店铺商品排序方式 -->
    <select id="shopCommoditySort" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.`name`,
        ci.images,
        ci.content,
        ci.price,
        ci.create_date AS createDate,
        ci.on_put AS onPut,
        ci.type,
        COUNT( oi.commodity_id ) AS orderNum
        FROM
        commodity_info ci
        LEFT JOIN shop_info si ON ( si.id = ci.shop_id )
        LEFT JOIN order_info oi ON ( oi.commodity_id = ci.id )
        WHERE
        ci.shop_id = #{ shopId }
        GROUP BY
	    ci.id
        <if test="type == 1">
            ORDER BY orderNum DESC
        </if>
        <if test="type == 2">
            ORDER BY ci.create_date DESC
        </if>
        <if test="type == 3">
            ORDER BY ci.price ASC
        </if>
    </select>

    <!-- 模糊查询店内商品 -->
    <select id="commodityLikeByShop" resultType="java.util.LinkedHashMap">
        SELECT
        ci.id,
        ci.`name`,
        ci.images,
        ci.content,
        ci.price,
        ci.create_date AS createDate,
        ci.on_put AS onPut,
        ci.type,
        COUNT( oi.commodity_id ) AS orderNum
        FROM
        commodity_info ci
        LEFT JOIN shop_info si ON ( si.id = ci.shop_id )
        LEFT JOIN order_info oi ON ( oi.commodity_id = ci.id )
        WHERE 1 = 1
        <if test="shopId != null and shopId != ''">
            AND ci.shop_id = #{ shopId }
        </if>
        <if test="key != null and key != ''">
            AND ci.name LIKE CONCAT('%',#{key},'%')
        </if>
        GROUP BY
        ci.id
    </select>

    <!-- 模糊查询商铺信息 -->
    <select id="shopInfoLike" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.`code` AS shopCode,
        si.introduction,
        si.tag,
        ai.status_date AS statusDate,
        ui.user_name AS userName,
        ui.avatar
        FROM
        shop_info si
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        LEFT JOIN audit_info ai ON ( ai.user_id = ui.id )
        WHERE
        1 = 1
        <if test="key != null and key != ''">
            AND ui.user_name LIKE CONCAT('%',#{key},'%')
        </if>
    </select>

    <!-- 根据用户获取商品信息 -->
    <select id="getGoodsByUserId" resultType="java.util.LinkedHashMap">
        SELECT
        ci.*
        FROM
        commodity_info ci
        LEFT JOIN shop_info si ON ( si.id = ci.shop_id )
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        WHERE
        ui.id = #{ userId }
    </select>
</mapper>
