<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.MessageInfoMapper">

    <!-- 分页查询消息 -->
    <select id="getMessageByPage" resultType="java.util.LinkedHashMap">
        SELECT
        mi.id,
        mi.send_user AS sendUser,
        mi.take_user AS takeUser,
        mi.content,
        mi.create_date AS createDate,
        ui1.user_name AS sendUserName,
        ui1.avatar AS sendUserAvatar,
        ui2.user_name AS takeUserName,
        ui2.avatar AS takeUserAvatar
        FROM
        message_info mi
        LEFT JOIN user_info ui1 ON ( ui1.id = mi.send_user )
        LEFT JOIN user_info ui2 ON ( ui2.id = mi.take_user )
        WHERE
        1 = 1
        <if test="messageInfo.sendUserName != null and messageInfo.sendUserName != ''">
            AND ui1.user_name LIKE CONCAT('%',#{messageInfo.sendUserName},'%')
        </if>
        <if test="messageInfo.takeUserName != null and messageInfo.takeUserName != ''">
            AND ui2.user_name LIKE CONCAT('%',#{messageInfo.takeUserName},'%')
        </if>
        ORDER BY
        mi.create_date DESC
    </select>

    <!-- 查询消息信息 -->
    <select id="messageListById" resultType="java.util.LinkedHashMap">
        SELECT
        mi.send_user AS sendUser,
        mi.take_user AS takeUser,
        mi.content,
        mi.create_date AS createDate,
        ui1.user_name AS sendUserName,
        ui1.avatar AS sendUserAvatar,
        ui2.user_name AS takeUserName,
        ui2.avatar AS takeUserAvatar
        FROM
        (
        SELECT
        *
        FROM
        message_info
        WHERE
        create_date IN (
        SELECT
        MAX( create_date )
        FROM
        message_info
        WHERE
        take_user = #{ userId }
        OR send_user = #{ userId }
        GROUP BY
        CONCAT(
        IF
        ( send_user &gt; take_user, send_user, take_user ),
        IF
        ( send_user &lt; take_user, send_user, take_user ))
        )
        ORDER BY
        create_date DESC
        ) mi
        LEFT JOIN user_info ui1 ON ( ui1.id = mi.send_user )
        LEFT JOIN user_info ui2 ON ( ui2.id = mi.take_user )
        ORDER BY mi.create_date DESC
    </select>

    <!-- 查找聊天记录 -->
    <select id="getMessageDetail" resultType="java.util.LinkedHashMap">
        SELECT
        mi.task_status AS takeStatus,
        mi.send_user AS sendUser,
        mi.take_user AS takeUser,
        mi.content,
        mi.create_date AS createDate,
        ui1.user_name AS sendUserName,
        ui1.avatar AS sendUserAvatar,
        ui2.user_name AS takeUserName,
        ui2.avatar AS takeUserAvatar
        FROM
        ( SELECT * FROM message_info WHERE send_user = #{ sendUser } AND take_user = #{ takeUser } UNION SELECT * FROM message_info WHERE send_user = #{ takeUser } AND take_user = #{ sendUser } ) mi
        LEFT JOIN user_info ui1 ON ( ui1.id = mi.send_user )
        LEFT JOIN user_info ui2 ON (
            ui2.id = mi.take_user
        )
        ORDER BY mi.create_date ASC
    </select>
</mapper>
