<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ShopInfoMapper">

    <!-- 分页查询商铺信息 -->
    <select id="getShopInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.code,
        si.user_id AS userId,
        si.introduction,
        si.tag,
        ui.user_name AS userName,
        ui.avatar,
        ai.status_date AS statusDate,
        ai.images
        FROM
        shop_info si
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        LEFT JOIN audit_info ai ON (ai.user_id = si.user_id)
        WHERE
        1 = 1
        <if test="shopInfo.userName != null and shopInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{shopInfo.userName},'%')
        </if>
        <if test="shopInfo.tag != null and shopInfo.tag != ''">
            AND si.tag LIKE CONCAT('%',#{shopInfo.tag},'%')
        </if>
        <if test="shopInfo.introduction != null and shopInfo.introduction != ''">
            AND si.introduction LIKE CONCAT('%',#{shopInfo.introduction},'%')
        </if>
    </select>

    <!-- 设计师信息 -->
    <select id="shopInfoHot" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.`code`,
        si.introduction,
        si.tag,
        ui.user_name AS userName,
        ui.avatar
        FROM
        shop_info si
        LEFT JOIN user_info ui ON ( ui.id = si.user_id )
        WHERE
        1 = 1
    </select>

</mapper>
